--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
diffusers
numpy==1.26.4
matplotlib
transformers
accelerate
xformers==0.0.30
mediapy
fire
decord
OpenEXR
opencv-python
imageio_ffmpeg
imageio
Imath
